/* header{
    background-image: url(images/ghibli_1.jpeg);
    height: 50vh;
    width: 100%;
    -webkit-backgground-size:cover;
    background-size:cover;
    background-position: center center;
}

.header-text{
    color: #fff;
    text-align: center;
    padding: 15% 0;
}

.header-text h2{
    text-transform: uppercase;
    font-size: 65px;
    letter-spacing: 2px;
}

.header-text p{
    font-size: 25px;
} */
*{
    margin: 0;
    padding: 0;
}

.main-left{
    background: transparent;
    height: 4000px;
    margin-left: 120px;
    margin-top: 20px;
    width: 20%;
    float: left;
    position: relative;
}

.main-right{
    width: 64%;
    float: right;
    margin-top: 50px;
    margin-right: 120px;
}

.section-header{
    text-align: center;
    font-size: 25px;
}

.line{
    background: #000;
    height: 2px;
    width: 100px;
    display: inline-block;
    margin-bottom: 60px;
}

.left-sticky{
    color: #fff;
    font-size: 22px;
    align-items: center;
    justify-content: center;
    top: 40px;
    margin-top: 20px;
    height: 420px;
    position: sticky;
    display: flex;
}

.right-one, .right-two, .right-three{
    padding-top: 20px;
    clear: both;
    height: 300px;
}

.left-sticky ul{
    list-style: none;
    padding: 25px;
}

.left-sticky ul li{
    margin: 5px 0;
    margin-left: 20px;
    border-bottom: 1px solid #fff;
}

.left-sticky ul li a{
    font-family: itc-avant-garde-gothic-pro, sans-serif;
    font: 26px;
    font-weight: 500;
    font-style: normal;
    text-decoration: none;
    color: black;
    
}

.half-image{
    width: 590px;
    float: left;
}

.full-image{
    width: 1180px;
    float: left;
}

footer{
    clear: both;
    padding: 20px 0;
    background: #000;
    text-align: center;
    color: #000;
}

#right_image{
    height: 790px;
    width: 590px;
    border-radius: 50px;
    object-fit: cover;
    margin-left: 20px;
    margin-bottom: 16px;
}

#left_image{
    height: 790px;
    width: 590px;
    border-radius: 50px;
    object-fit: cover;
    margin-right: 20px;
    margin-bottom: 16px;
}

#full_image{
    height: 290px;
    width: 1200px;
    border-radius: 50px;
    object-fit: cover;
    margin-bottom: 16px;
}

#logo_image{
    width: 1200px;
    border-radius: 50px;
    object-fit: cover;
    margin-bottom: 16px;
}


p{
    font-family: itc-avant-garde-gothic-pro, sans-serif;
    font: 40px;
    font-weight: 500;
    font-style: normal;
    line-height: 1.6em;
    color: black;
}

h1{
    font-family: itc-avant-garde-gothic-pro, sans-serif;
    font: 200%;
    font-weight: 500;
    font-style: normal;
}

h2{
    font-family: itc-avant-garde-gothic-pro, sans-serif;
    font: 30px;
    font-weight: 500;
    font-style: normal;
    color: black;
}

#emp{
    font-family: itc-avant-garde-gothic-pro, sans-serif;
    font-weight: 700;
    font-style: bold;
}