*{
    margin: 0;
    padding: 0;
}

#right_image{
    height: 600px;
    width: 100%;
    margin-left: 16px;
    border-radius: 50px;
    object-fit: cover;
    margin-bottom: 16px;
}

#left_image{
    height: 600px;
    width: 100%;
    margin-left : 0px;
    border-radius: 50px;
    object-fit: cover;
    margin-bottom: 16px;
}

#full_image{
    height: 290px;
    width: 100%;
    margin-right: 0px;
    border-radius: 50px;
    object-fit: cover;
    margin-bottom: 16px;
}

.full-image{
    width: 92%;
    float: left;
}

.half-image{
    width: 45%;
    float: left;
}

.half-full-image{
    width: 45%;
    float: left;
}

.half-text{
    width: 45%;
    float: left;
    margin-bottom: 2%;
}

.full-text{
    width: 90%;
    float: left;
    margin-bottom: 2%;
}

.list-title{
    width: 90%;
    float: left;
    margin-bottom: 0.5%;
}

#list-title{
    float:center;
}

.main-left{
    background: transparent;
    height: 2000px;
    margin-left: 120px;
    margin-top: 20px;
    width: 20%;
    float: left;
    position: relative;
}

.main-right{
    width: 65%;
    float: right;
    margin-top: 50px;
    margin-right: 120px;
}

.section-header{
    text-align: center;
    font-size: 25px;
}

.line{
    background: #000;
    height: 2px;
    width: 100px;
    display: inline-block;
    margin-bottom: 60px;
}

.left-sticky{
    color: #fff;
    font-size: 22px;
    align-items: center;
    justify-content: center;
    top: 40px;
    margin-top: 20px;
    height: 420px;
    position: sticky;
    display: flex;
}

.left-sticky ul{
    list-style: none;
    padding: 25px;
}

.left-sticky ul li{
    margin: 5px 0;
    margin-left: 20px;
    border-bottom: 1px solid #fff;
}

.left-sticky ul li a{
    font-family: itc-avant-garde-gothic-pro, sans-serif;
    font: 26px;
    font-weight: 500;
    font-style: normal;
    text-decoration: none;
    color: black; 
}

#logo_image{
    width: 1200px;
    border-radius: 50px;
    object-fit: cover;
    margin-bottom: 16px;
}


p{
    font-family: itc-avant-garde-gothic-pro, sans-serif;
    font: 40px;
    font-weight: 500;
    font-style: normal;
    line-height: 1.6em;
    color: black;
}

h1{
    font-family: itc-avant-garde-gothic-pro, sans-serif;
    font: 200%;
    font-weight: 500;
    font-style: normal;
    color: black;
}

h2{
    font-family: itc-avant-garde-gothic-pro, sans-serif;
    font: 30px;
    font-weight: 500;
    font-style: normal;
    color: black;
}

#emp{
    font-family: itc-avant-garde-gothic-pro, sans-serif;
    font-weight: 700;
    font-style: bold;
}

@media (min-width: 1600px) and (max-width: 1843px){
    #right_image{
        height: 600px;
        width: 100%;
        margin-right: 0px;
        border-radius: 50px;
        object-fit: cover;
        margin-bottom: 16px;
    }
    
    #left_image{
        height: 600px;
        width: 100%;
        margin-right: 0px;
        border-radius: 50px;
        object-fit: cover;
        margin-bottom: 16px;
    }
    
    #full_image{
        height: 290px;
        width: 100%;
        margin-right: 0px;
        border-radius: 50px;
        object-fit: cover;
        margin-bottom: 16px;
    }

    .full-image{
        width: 92%;
        float: left;
    }

    .half-image{
        width: 45%;
        float: left;
    }

    .half-text{
        width: 45%;
        float: left;
        margin-bottom: 2%;
    }

    .main-left{
        background: transparent;
        height: 2000px;
        margin-left: 120px;
        margin-top: 20px;
        width: 20%;
        float: left;
        position: relative;
    }
    
    .main-right{
        width: 65%;
        float: right;
        margin-top: 50px;
        margin-right: 120px;
    }
}

@media (min-width: 1200px) and (max-width: 1599px){

    #right_image{
        height: 600px;
        width: 100%;
        margin-right: 0px;
        border-radius: 50px;
        object-fit: cover;
        margin-bottom: 16px;
    }
    
    #left_image{
        height: 600px;
        width: 100%;
        margin-right: 0px;
        border-radius: 50px;
        object-fit: cover;
        margin-bottom: 16px;
    }
    
    #full_image{
        height: 290px;
        width: 100%;
        margin-right: 0px;
        border-radius: 50px;
        object-fit: cover;
        margin-bottom: 16px;
    }

    .full-image{
        width: 92%;
        float: left;
    }

    .half-image{
        width: 45%;
        float: left;
    }

    .half-full-image{
        width: 90%;
        float: left;
    }

    .half-text{
        width: 92%;
        float: left;
        margin-bottom: 2%;
    }

    .main-left{
        background: transparent;
        height: 2000px;
        margin-left: 120px;
        margin-top: 20px;
        width: 15%;
        float: left;
        position: relative;
    }
    
    .main-right{
        width: 64%;
        float: right;
        margin-top: 50px;
        margin-right: 120px;
    }

    a{
        font-size: 20px;
    }

    h1{
        font-size: 25px;
    }
    
    p{
        font-size: 20px;
    }
}

@media (min-width: 800px) and (max-width: 1199px){
       
    #right_image{
        height: 600px;
        width: 100%;
        margin-right: 0px;
        border-radius: 50px;
        object-fit: cover;
        margin-bottom: 16px;
    }
    
    #left_image{
        height: 600px;
        width: 100%;
        margin-right: 0px;
        border-radius: 50px;
        object-fit: cover;
        margin-bottom: 16px;
    }
    
    #full_image{
        height: 290px;
        width: 100%;
        margin-right: 0px;
        border-radius: 50px;
        object-fit: cover;
        margin-bottom: 16px;
    }

    .full-image{
        width: 92%;
        float: left;
    }

    .half-image{
        width: 45%;
        float: left;
    }

    .half-full-image{
        width: 90%;
        float: left;
    }

    .half-text{
        width: 92%;
        float: left;
        margin-bottom: 2%;
    }

    .main-left{
        background: transparent;
        height: 2000px;
        margin-left: 120px;
        margin-top: 20px;
        width: 15%;
        float: left;
        position: relative;
    }
    
    .main-right{
        width: 60%;
        float: right;
        margin-top: 50px;
        margin-right: 80px;
    }

    a{
        font-size: 15px;
    }

    h1{
        font-size: 20px;
    }
    
    p{
        font-size: 15px;
    }
}

@media (min-width: 300px) and (max-width: 799px){
    
    .left-sticky{
        color: #fff;
        font-size: 22px;
        align-items: center;
        justify-content: center;
        top: 0px;
        margin-top: 0px;
        height: 400px;
        position: sticky;
        display: flex;
    }
    
    .left-sticky ul{
        list-style: none;
        padding: 0px;
    }
    
    .left-sticky ul li{
        margin: 0px 0;
        margin-left: 0px;
        border-bottom: 1px solid #fff;
    }
    
    .left-sticky ul li a{
        font-family: itc-avant-garde-gothic-pro, sans-serif;
        font: 25px;
        font-weight: 500;
        font-style: normal;
        text-decoration: none;
        color: black; 
    }

    #right_image{
        height: 600px;
        width: 100%;
        margin-right: 0px;
        border-radius: 50px;
        object-fit: cover;
        margin-bottom: 16px;
    }
    
    #left_image{
        height: 600px;
        width: 100%;
        margin-right: 0px;
        border-radius: 50px;
        object-fit: cover;
        margin-bottom: 16px;
    }
    
    #full_image{
        height: 290px;
        width: 100%;
        margin-right: 0px;
        border-radius: 50px;
        object-fit: cover;
        margin-bottom: 16px;
    }

    .full-image{
        width: 92%;
        float: left;
    }

    .half-image{
        width: 45%;
        float: left;
    }

    .half-full-image{
        width: 90%;
        float: left;
    }

    .half-text{
        width: 92%;
        float: left;
        margin-bottom: 2%;
    }

    .main-left{
        background: transparent;
        height: 350px;
        margin-right: 0px;
        margin-top: 0px;
        width: 70%;
        float: left;
        position: relative;
    }
    
    .main-right{
        width: 80%;
        float: right;
        margin-top: 50px;
        margin-right: 5%;
    }

    a{
        font-size: 15px;
    }

    h1{
        font-size: 20px;
    }
    
    p{
        font-size: 15px;
    }

}


footer{
    clear: both;
    padding: 20px 0;
    background: #000;
    text-align: center;
    color: #000;
    background-color: white;
    text-align: left;
    width: 100%;
    margin-bottom: 5%;
}

.left-footer{
    width: 50%;
    float: left;
}

.right-footer{
    width: 50%;
    float: right;
}

#footer-image{
    align-content: left;
    margin-left: 220px;
    padding: auto;
    width: 50px;
}
    
#footer-text{
    margin-right: 220px;
    text-align: right;
}

#copyright-text{
    margin-left: 220px;
}